* {
  max-width: 800px;
  margin: auto;

}

.sub-title, h1 {
  text-align: center;
  word-spacing: 7px;

}

h2 {
  border-width:4px; 
  border-style:groove;
  padding: 3px;
  
}

body {
  margin-bottom: 20px;
  padding: 3px; 
  background-image: url("cabo.jpg");
}

ul {
  border-width:2px; 
  border-style:solid;
  border-color: grey;
}

main{
  /*Size to make div look like 8.5" x 11" piece of paper */
  width: 21.6cm;
  min-height: 27.94cm;
  padding: 1cm 2cm 1cm 2cm;
  margin: .5cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: blanchedalmond;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}